html {
	font-family: sans-serif;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
	background-color: #F2F2F2 !important;
}
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -35px;
	padding: 0 0 35px;
	overflow-x: hidden;
	overflow-y: hidden;
}
#footer {
	height: 35px;
	font-family: noodle;
	overflow-x: hidden;
	overflow-y: hidden;
}
@font-face {
	font-family: noodle;
	src: url('http://cdn.dawsondiaz.com/fonts/BigNoodle.TTF');
}
.colorselect{
   background: transparent;
   width: 100px;
   font-size: 18px;
   line-height: 1;
   height: 32px;
   -webkit-appearance: none;
   border-radius: 25px;
   background-image: url('img/arrow.png');
   background-repeat: no-repeat;
   background-position: 80px;
   text-align: center;
   text-indent: 5px;
   }
.bandselect{
   background: transparent;
   padding-left: 2px;
   width: 120px;
   font-size: 20px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 30px;
   }
.result {
	border: solid 1px;
        text-indent: 1px;
}
